@{
    ViewBag.Title = "Index";
}

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center" style="background-image:url(../Content/img/4584.jpg); background-position: top;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->
    <!-- popular_causes_area_start  -->
    <div class="popular_causes_area pt-120">
        <div class="container">
            <div class="searchBtnMK">
                <input placeholder='Search articles in the blog…' class='js-search' type="text">
                <a href="#"><i class="fa fa-search"></i></a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_cause">
                        <div class="thumb">
                            <img class="imageOpacityMK" src="~/Content/img/sokakhayvanlarianagorsel-620x375.jpg" alt="">
                        </div>
                        <div class="causes_content">
                            <!--
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            30%
                                        </span>
                                    </div>
                                  </div>
                            </div>


                            <div class="balance justify-content-between align-items-center textCenterMK">
                                <span class="span1">435</span>
                                <br>
                                <span class="span2">Missing Dogs</span>
                            </div>
                             -->
                            <a href="#"><h4>9 Important Topics Everyone Should Think About the Life of Street Animals</h4></a>
                            <p>
                                For once, stray animals are always perceived wrong because of 'people' who did not like a stray dog, never served birds in their life, or left water in front of their door for a stray cat. Our friends on the street, which are thought to be filthy, sick and distant creatures, are actually beings who are just waiting to see some love, are struggling to feed their…
                            </p>
                            <a class="read_more" href="@Url.Action("Detail", "Blog")">Read More</a>
                        </div>
                    </div>
                </div>

                <nav class="pagination-container">
                    <div class="pagination">
                        <a class="pagination-newer" href="#">PREV</a>
                        <span class="pagination-inner">
                            <a class="pagination-active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                        </span>
                        <a class="pagination-older" href="#">NEXT</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->
    