
@{
    ViewBag.Title = "Index";
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TR National Pet Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/favicon-16x16.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/gijgo.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/styleMK.css">

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/iconic/css/material-design-iconic-font.min.css">


    <!--===============================================================================================-->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83542761-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-83542761-1');
    </script>

</head>

<body>
    <header>
        <div class="wrapper">
            <div class="header-area ">
                <div class="header-top_area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-md-12 col-lg-8">
                                <div class="short_contact_list">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-phone"></i> +90 (212) 498 41 41</a></li>
                                        <li><a href="#"> <i class="fa fa-envelope"></i>1507010003@stu.iku.edu.tr</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-lg-4">
                                <div class="social_media_links d-none d-lg-block">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sticky-header" class="main-header-area ustMenuMK">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3 headerLogoMK">
                                <div class="logo">
                                    <a href="@Url.Action("Index","Home")">
                                        <img src="~/Content/img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 headerMenuMK">
                                <div class="main-menu">
                                    <nav style="width:100% !important;">
                                        <ul id="navigation">
                                            <li>@Html.ActionLink("LOST PETS", "Index", "Advertisement")</li>
                                            <li>@Html.ActionLink("AID CAMPAIGNS", "Index", "Campaign")</li>
                                            @*<li>@Html.ActionLink("BLOG", "Index", "BlogMember")</li>*@
                                            <li>@Html.ActionLink("DONATION", "Donation", "Home")</li>
                                            <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                                            <li style="margin-left: 43% !important;">
                                                <a href="@Url.Action("Logout", "User")" style="text-transform: none !important;">@Session["FullName"]<a href="@Url.Action("Index", "Home")" style="margin-left: 4px;"><img src="/Content/img/logout.png"></a></a>
                                            </li>
                                        </ul>
                                    </nav>


                                    <!--
                                    <div class="Appointment">
                                        <div class="book_btn d-none d-lg-block">
                                            <a data-scroll-nav='1' href="#">LOGIN</a>
                                            <a data-scroll-nav='1' href="#">REGISTER</a>
                                        </div>
                                    </div>
                                    --->
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sticky-header" class="main-header-area altMenuMK">
                    <div class="container-fluid">
                        <div class="col-xl-9 col-lg-9 headerMenuMK2">
                            <div class="main-menu">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="@Url.Action("MemberInformation", "Member")"><img src="/Content/img/identification2.png">  Personal Information</a></li>
                                        <li>
                                            <a href="@Url.Action("MyAdvertisements", "Member")"><img src="/Content/img/wanted.png">  My Missing Pet Ads <i class="ti-angle-down"></i></a>
                                            <ul class="submenu subMenuMK">
                                                <li><a href="@Url.Action("MyAdvertisements", "Member")">Advertisement</a></li>
                                                <li><a href="@Url.Action("MyPetsFound", "Member")">My Pets Found</a></li>
                                                <li><a href="@Url.Action("EditAdvertisement", "Member")">Post An Ad.</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "MemberCampaign")"><img src="/Content/img/pet.png">  Aid Campaigns <i class="ti-angle-down"></i></a>
                                            <ul class="submenu subMenuMK">
                                                <li><a href="@Url.Action("Index", "MemberCampaign")">My Aid Campaign</a></li>
                                                <li><a href="@Url.Action("finishedCampaigns", "MemberCampaign")">Completed Aid Campaigns</a></li>
                                                <li><a href="@Url.Action("WaitingForAuthor", "MemberCampaign")">Waiting For Author</a></li>
                                                <li><a href="@Url.Action("Edit", "MemberCampaign")">Share Aid Campaign</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>


                                <!--
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a data-scroll-nav='1' href="#">LOGIN</a>
                                        <a data-scroll-nav='1' href="#">REGISTER</a>
                                    </div>
                                </div>
                                --->
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @if (TempData["Message"] != null)
    {
        var CssClassName = TempData["CssClassName"];
        var message = TempData["Message"];
        <div class="wrapper" style="margin-top:150px">
            <div class="alert alert-@CssClassName" role="alert">@message</div>
        </div>
    }
    <!-- header-end -->
    @RenderBody()
    <!-- footer_start  -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-6 col-lg-5 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="~/Content/img/logoRed.png" alt="">
                                </a>
                            </div>
                            <p class="address_text">
                                TR National Pet Register
                                <br> <br> We allow you to publish your lost animals and
                                <br> get in touch with the finder. We are creating a
                                <br> reliable way to help or create relief campaigns
                                <br> for your stray animals or your own pets.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Site Map
                            </h3>
                            <ul class="links">
                                <li><a href="#">Lost Pet</a></li>
                                <li><a href="#">Aid Campaings</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Contacts
                            </h3>
                            <div class="contacts">
                                <p>
                                    +90 (0212) 498 41 41<br>
                                    1507010003@stu.iku.edu.tr <br>
                                    İstanbul Kültür University Ataköy Campus
                                    On the E5 Karayolu Bakırköy 34158 İstanbul
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                        <p>
                            <!-- Link back to mertkaracam can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="http://mertkaracam.com" target="_blank">Mert KARAÇAM</a>
                            <!-- Link back to mertkaracam can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->
    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="~/Content/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/ajax-form.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/js/scrollIt.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/nice-select.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="~/Content/js/contact.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.form.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/mail-script.js"></script>

    <script src="~/Content/js/main.js"></script>

    <script>
        $(function () {

            $('#datePicker').datepicker({
                dateFormat: "mm/dd/yy",
                showStatus: true,
                showWeeks: true,
                currentText: 'Now',
                autoSize: true,
                gotoCurrent: true,
                showAnim: 'blind',
                highlightWeek: true
            });

            $('body').addClass('js');

            var $hamburger = $('.hamburger'),
                $nav = $('#site-nav'),
                $masthead = $('#masthead');

            $hamburger.click(function () {
                $(this).toggleClass('is-active');
                $nav.toggleClass('is-active');
                $masthead.toggleClass('is-active');
                return false;
            })
        });
    </script>
</body>

</html>


