@model  SCRP.Web.Models.Home.HomeViewModel
@{
    ViewBag.Title = "Index";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="slider_text ">
                        <span>TR National Pet Register</span>
                        <h3>Search our Lost Pets Database</h3>
                        <p>Join 1,000s of Members making use of our services to protect your pets.</p>
                        @Html.ActionLink("Register Your Pet", "EditAdvertisement", "Member", new { id = 0 }, new { @class = "boxed-btn3" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<div class="reson_area section_padding WelcomeMessageHeaderMK">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="section_title text-center mb-55">
                    <h3><span>Welcome to the National Pet Register</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="WelcomeMessageTextMK">
                The TR National Database for Pet Registration, Lost and Found Pets. Report and search for lost pets and found pets of all types and breeds. Thousands of
                family pets go missing each year in the TR from theft or by just simply wandering off and getting lost - its FREE to use our lost and found pet service. Our
                pet databases are available to search 24/7 via our Pet Search facility, we are here to help you and your pets get re-united as fast as possible.
            </div>

        </div>
    </div>
</div>
<!-- reson_area_start  -->
<div class="reson_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="~/Content/img/4495.jpg" alt="" height="400px">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Welcome to the National Pet Register</h4>
                        <p>Registering a pet with the NPR gives you peace of mind and many benefits. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="~/Content/img/lost_dogs_180220_1.jpg" alt="" height="400px">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Lost and Found Pet Databases</h4>
                        <p>
                            We will do all we can to help you
                            be re-united with your lost pet or help you find the rightful owner of a pet you have
                            found.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="~/Content/img/ht_homeless_pets_02_jc_151217_3x2_1600.jpg" alt="" height="400px">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Aid Campaigns for Pets or Stray Animals</h4>
                        <p>With the campaigns you create, we collect donations to provide the necessary support to our animals that need help.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- reson_area_end  -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="section_title text-center mb-55">
                        <h3><span>Latest Lost Listings</span></h3>
                    </div>
                </div>
            </div>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="country">Status</div>
                        <div class="visit">Pet Information</div>
                        <div class="percentage">Data Listed</div>
                    </div>

                    @{foreach (var post in Model.LastPosts)
                        {
                            <div class="table-row">
                                <div class="serial">@post.Id</div>
                                <div class="country">LOST  @post.Pet.PetType.Name </div>

                                <div class="visit">@post.Title</div>
                                <div class="percentage">
                                    @post.MissedDate
                                </div>
                            </div>
                        }
                    }

                    <!-- counter_area_start  -->
                    <div class="counter_area pt-120">
                        <div class="container">
                            <div class="counter_bg overlay">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <div class="single_counter d-flex align-items-center justify-content-center">
                                            <div class="icon">
                                                <i class="flaticon-pet"></i>
                                            </div>
                                            <div class="events">
                                                <h3 class="counter">869</h3>
                                                <p>lost pets were registered.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="single_counter d-flex align-items-center justify-content-center">
                                            <div class="icon">
                                                <i class="flaticon-home"></i>
                                            </div>
                                            <div class="events">
                                                <h3 class="counter">208</h3>
                                                <p>lost pets returned to their homes.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="single_counter d-flex align-items-center justify-content-center">
                                            <div class="icon">
                                                <i class="flaticon-donation"></i>
                                            </div>
                                            <div class="events">
                                                <h3 class="counter">650</h3>
                                                <p>aid campaigns gained were successfully completed.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>